beautifulsoup4==4.11.2
bs4==0.0.1
func_timeout==4.3.5
gensim==4.1.2
jsonlines==3.1.0
Levenshtein==0.20.9
nltk==3.8.1
numpy==1.21.6
openai==0.28.1
openpyxl==3.0.10
pandas==1.4.4
Pillow==9.0.1
PyPDF2==3.0.1
reportlab==4.0.4
scipy==1.7.3
tiktoken==0.5.1
tokenizers==0.13.3
torch==2.0.0
tqdm==4.66.1
tree-sitter==0.20.2
transformers==4.30.2